.container {
    max-width: 100%;
}

.jumbotron {
    background-color: inherit;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: -50px;
    text-align: center;
}

.jumbotron a:hover {
    text-decoration: none;
}

.navbar {
    font-family: 'Ubuntu Mono', sans-serif;
}

.navbar-inner {
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-items {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: 0px;
}

.sidebar {
    margin-top: 0;
    width: 100%;
}

li.child {
    padding-left: 30px;
}

li.parent {
    font-weight: bold;
}

.sidebar-wrapper {
}

#users-table td {
    vertical-align: middle;
}

