{% extends 'layout.html' %}
{% block navigation %}
<div class="sidebar">
    <ul class="list-group">
        {% if projects is not defined %}
        <li class="list-group-item parent">Projects</li>
        {% for project in navigation['projects'] %}
        <li class="list-group-item child">
            <a href="{{ url_for('project', project_slug=project.slug) }}">{{ project.name }}</a>
        </li>
        {% endfor %}
        {% endif %}
        <li class="list-group-item">
            <a href="{{ url_for('posts') }}">All Posts</a>
        </li>
    </ul>
</div>
{% endblock %}
