{% extends extends_with %}
{% block body %}
<div class="well well-sm">
<h1>
    {{ post.title }}
    {% if current_user.is_admin() %}
    <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ url_for('post_edit', post_id=post.id) }}" role="button">Edit</a>
            </li>
            <li>
                <a href="{{ url_for('post_delete', post_id=post.id) }}" role="button">Delete</a>
            </li>
        </ul>
    </div>
    {% endif %}
</h1>
<small>by {{ post.author.name }} at {{ post.created_at.strftime(config['DATETIME_FORMAT']) }}{% if post.project %} in <a href="{{ url_for('project', slug=post.project.slug) }}">{{ post.project.name }}</a>{% endif %}</small>
{% filter markdown %}
{{ post.body }}
{% endfilter %}
</div>
{% endblock %}
