{% extends "layout.html" %}
{% block body %}
<br />
<br />
<div class="row">
<div class="span6 offset3">
<form class="form-horizontal" role="form" method=post>
  <div class="form-group">
    <label class="control-label col-lg-4" for="name">User Name</label>
    <div class="col-lg-4">
      <input type="text" class="form-control" name="name"
        {% if args['name'] != '' %}value="{{args['name']}}"{% endif %}
        placeholder="C3PO">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-4" for="email">Email</label>
    <div class="col-lg-4">
      <input type="text" class="form-control" name="email"
        {% if args['email'] != '' %}value="{{args['email']}}"{% endif %}
        placeholder="C3PO@rebels.com">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-4" for="email">Password</label>
    <div class="col-lg-4">
      <input type="password" class="form-control" name="password1" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-4" for="password">Confirm Password</label>
    <div class="col-lg-4">
      <input type="password" class="form-control" name="password2" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
      <button type="submit" class="btn btn-default">Sign Up</button>
    </div>
  </div>
</form>
{% if error %}
<div class="alert alert-error"><strong>Error:</strong> {{ error }}
</div>
{% endif %}
</div>
</div>
{% endblock %}
